{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 100,
  "tabWidth": 4,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "useTabs": false
}
